body {
  margin: 0%;
  display: grid;
  background-color: turquoise;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nasa-slide { 
  grid-row: span;
  background-color: black;
  width: 1fr; 
  height: 1fr; 
  padding-bottom: 50%;
  position: static;  
  overflow:hidden; 
  position:relative;
}

.nasa-slide img { 
  position:absolute; 
  animation: nasa-slide 32s infinite; 
  opacity:0; 
  width: 100%; 
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  display: flex;
}

p {
  margin: 2%;
}


@keyframes 
nasa-slide {
  15%{opacity:1;} 
  40%{opacity:0;}}
.nasa-slide img:nth-child(4)
  {animation-delay:0s;}
.nasa-slide img:nth-child(3)
  {animation-delay:8s;}
.nasa-slide img:nth-child(2)
  {animation-delay:16s;}
.nasa-slide img:nth-child(1)
  {animation-delay:24s;}